* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
}
a{
padding: 10px;
}
a button{
    background-color: red;
    color: white;
    height: 100px;
    width: 100px;
}
table{
    border: solid 1px;
    border-color: black;
}

td {
    text-align: center;
    vertical-align: middle;
}
    

